nav {
       z-index: 100;
       background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));

       div {
              .img_logo_netflix {
                     width: 110px;
                     height: 50px;
              }

              .btn-search {
                     font-size: 25px;
                     padding-right: 10px;
                     font-weight: 250;
                     color: rgb(255, 255, 255);
              }

              .nav-item {
                     font-weight: 300;
                     font-size: 18px
              }

              a:hover {
                     color: red
              }

              button {
                     border-color: azure;
              }

              button:focus,
              button:hover {
                     background-color: gray;
              }




              span {
                     color: white;
              }

              a {
                     color: white;
              }

              i:hover {
                     color: red
              }

       }
}